<div class="container">     
    <div class="text-center">      
        <h1>NEW PTEL AVTIVATION</h1>

 
  	<%= render 'form' %>
 
    </div> 
</div>





<%= link_to 'Back', ptel_activations_path %>
